doctype html
html(lang="en")
    head
        title="Link Shortener"

    body
        div.container
            div.row
                h1 Link Shortener

            div.row
                form(action="/", method="POST")
                    input(type="url", name="url")
                    input(type="submit", value="Submit")