doctype html
html(lang="en")
    body
        div.container
            div.row
                h1 Link Shortener
                p
                    | Your shortened URL is
                    a(href=base_url+'/'+id) #{base_url}/#{id}